<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #LoginForm="ngForm" autocomplete="off" (ngSubmit)="login(LoginForm.value)">
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input (ngModel)="userName" [ngClass]="{ 'red-border': LoginForm.controls.userName?.invalid && (LoginForm.controls.userName?.touched || mouseOverLogin)}"
      required name="userName" id="userName" type="text" class="form-control"
        placeholder="User Name..." />
      <p *ngIf="LoginForm.controls.userName?.invalid && LoginForm.controls.userName?.touched" class="error">
        This field is required
      </p>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input (ngModel)="password" [ngClass]="{ 'red-border': LoginForm.controls.password?.invalid && (LoginForm.controls.password?.touched || mouseOverLogin)}"
      required name="password" id="password" type="password" class="form-control"
        placeholder="Password..." />
      <p *ngIf="LoginForm.controls.password?.invalid && LoginForm.controls.password?.touched" class="error">
        This field is required
      </p>
    </div>
    <span (mouseenter)="mouseOverLogin = true" (mouseleave)="mouseOverLogin = false" >
        <button type="submit" class="btn btn-primary" [disabled]="LoginForm.invalid">Login</button>
    </span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
  <br>
  <div *ngIf="loginError" class="alert alert-danger">Error in Login Info</div>
</div>