<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency: USD}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr>

  <div class="sessionNav">
    <div>
      <h3>sessions</h3>
    </div>

    <div>
      <a (click)="addSession()">Add Session</a>
    </div>
  </div>

  <session-list [sessions] = "event?.sessions" *ngIf="!addMode"></session-list>

  <create-session *ngIf="addMode" (addNewSession)="saveSession($event)" (cancelSession) = "cancelSession()"></create-session>

</div>